@model ProfileEditViewModel
@{
    ViewData["Title"] = "ProfileDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
@* <div class="email-list mt-4 ml-4 d-flex">
    <div class="mr-4">
        <img src="@ViewBag.profileimage"
             alt="Profil Fotoğrafı"            
             class="rounded"
             style="width: 180px; height: 180px; object-fit: cover;">
    </div>
    <div>
        <ul class="list-unstyled mb-0">
            <li class="mb-3">
                <i class="fa fa-id-badge text-dark mr-2"></i>
                <strong>Kullanıcı Adı:</strong> @ViewBag.username
            </li>
            <li class="mb-3">
                <i class="fa fa-user text-primary mr-2"></i>
                <strong>Adı Soyadı:</strong> @ViewBag.name @ViewBag.surname
            </li>
            <li class="mb-3">
                <i class="fa fa-envelope text-success mr-2"></i>
                <strong>E-Mail:</strong> @ViewBag.email
            </li>
            <li class="mb-3">
                <i class="fa fa-phone text-info mr-2"></i>
                <strong>Telefon:</strong> @ViewBag.phonenumber
            </li>
            <li class="mb-3">
                <i class="fa fa-map-marker text-danger mr-2"></i>
                <strong>Şehir:</strong> @ViewBag.city
            </li>
        </ul>
    </div>
</div> *@

<form method="post" asp-action="ProfileDetail">
    <div class="compose-content mt-2">
        <div class="form-group">
            <label>Adı</label>
            <input type="text" class="form-control input-default" asp-for="Name">
        </div>
        <div class="form-group">
            <label>Soyadı</label>
            <input type="text" class="form-control input-default" asp-for="Surname">
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" class="form-control input-default" asp-for="Email">
        </div>
        <div class="form-group">
            <label>Telefon Numarası</label>
            <input type="text" class="form-control input-default" asp-for="PhoneNumber">
        </div>
        <div class="form-group">
            <label>Şehir</label>
            <input type="text" class="form-control input-default" asp-for="City">
        </div>
        <div class="form-group">
            <label>Resim Url</label>
            <input type="text" class="form-control input-default" asp-for="ImageUrl">
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="text" class="form-control input-default" asp-for="Password">
        </div>
        <div class="form-group">
            <label>Şifre Tekrar</label>
            <input type="text" class="form-control input-default" asp-for="ConfirmPassword">
        </div>        
        <div class="text-left m-t-15">
            <button class="btn btn-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10">
                <i class="fa fa-refresh m-r-5"></i> Güncelle
            </button>            
        </div>
    </div>
</form>